.storybook
*.iml
*.log
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
lib
es
coverage
yarn.lock
package-lock.json

# dumi
.umi
.umi-production
.umi-test
.docs


# dumi
.dumi/tmp
.dumi/tmp-production