.rc-trigger-popup {
  // left: 0 !important;
  // top: 0 !important;
}

.case-motion {
  box-shadow: 0 0 5px blue;
  transition: opacity 1s;

  &-appear,
  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
    }
  }
}
